// About Section CSS
.about-section {
  width: 100%;
  padding: 20px;
  .about-main-section {
    border-radius: 15px;
    padding-top: 120px;
    padding-bottom: 140px;
    background: var(--linear-gradient);
  }
  .section-title {
    margin-bottom: 30px;
  }
  .about-img {
    padding-right: 32px;
    .img-box {
      width: 100%;
      height: 550px;
      border-radius: 45px;
      background: rgba(255, 255, 255, 0.4);
      padding-left: 27px;
      .main-img {
        bottom: 0;
      }
      .project-status-box {
        bottom: 19px;
        right: 20px;
        padding: 0 40px 30px 40px;
        border-radius: 37px;
        background: #fff;
        .project-status {
          position: relative;
          margin-bottom: 10px;
          h6 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            color: #2b2b5e;
            font-size: 30px;
            font-weight: 700;
            line-height: 54.9px; /* 183% */
            letter-spacing: -0.8px;
          }
        }
        h5 {
          font-size: 22px;
          line-height: 27px; /* 122.727% */
          margin-bottom: 8px;
        }
      }
    }
  }
  .about-content {
    .about-desc {
      margin-bottom: 30px;
      line-height: 27px; /* 150% */
    }
    ul {
      li + li {
        margin-top: 22px;
      }
      li {
        color: var(--black2);
        font-size: 16px;
        line-height: 24px; /* 150% */
        gap: 10px;
      }
    }
    .theme-btn {
      margin-top: 40px;
    }
  }
}
