/*=============================
	03. Banner CSS start
===============================*/

// banner one start
.banner-section {
  background: white;
  padding: 117px 0 17.83px 0;

  .banner-content {
    @media screen and (max-width: 991.98px) {
      text-align: center !important;
    }
    .banner-title {
      @media screen and (max-width: 991.98px) {
        margin: 0 auto;
        text-align: center !important;
      }
      .title-shape {
        right: 80px;
        top: -20px;
        @media (max-width: 1199.98px) {
          right: 8px;
        }
      }
      max-width: 541px;
      font-size: 74px;
      line-height: 84px;
      letter-spacing: -1.48px;
      @media (max-width: 1199.98px) {
        font-size: 60px;
        line-height: 70px;
      }
    }
    .banner-info {
      letter-spacing: -0.36px;
      margin-top: 29px;
      margin-bottom: 39px;
      max-width: 463px;
      @media screen and (max-width: 991.98px) {
        margin: 0 auto;
        text-align: center !important;
      }
    }
    .banner-btn {
      gap: 50px;
      @media screen and (max-width: 991.98px) {
        justify-content: center;
        margin-top: 15px;
      }
      .play-btn {
        gap: 10px;
        line-height: 28px;
        letter-spacing: -0.36px;
        color: var(--paragraph-color);

        .icon {
          display: grid;
          place-content: center;
          width: 50px;
          height: 50px;
          background: var(--secondary);
          color: var(--tertiary);
          transition: var(--transition);
        }
        &:hover {
          .icon {
            background: var(--bg-three);
            color: #ffffff;
          }
        }
      }
    }
  }
  .custom-shadow {
    width: 431px;
    height: 431px;
    background: var(--secondary);
    opacity: 0.6;
    filter: blur(152.6000061035px);
    bottom: -176px;
    right: -220px;
  }
}

// banner two start
.banner-section-two {
  background: white;
  padding: 72px 0;
  &::before {
    position: absolute;
    z-index: -1;
    width: 62%;
    height: 100%;
    top: 0;
    left: 0;
    content: "";
    background: var(--black);
    clip-path: polygon(0 0, 74% 0, 100% 100%, 0% 100%);
  }
  .banner-content {
    padding-right: 64px;
    .banner-title {
      color: #fff;
      font-size: 92px;
      line-height: 100px; /* 108.655% */
      letter-spacing: -1.841px;
      text-transform: capitalize;
    }
    .banner-info {
      color: white;
      font-family: var(--font-inter);
      line-height: 28px; /* 155.556% */
      margin-top: 28.5px;
      margin-bottom: 30px;
    }
    .play-video {
      width: 203px;
      height: 203px;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.05);
      img {
        animation: spin 26s infinite linear;
      }
      .icon {
        width: 90px;
        height: 90px;
        background: var(--primary);
        display: grid;
        place-content: center;
        font-size: 25px;
      }
    }
  }
  .banner-img {
    transform: translateX(57px);
  }
  .banner-shapes {
    .shape-1 {
      left: 50px;
      top: -125px;
      // transform: rotate(3deg);
    }
    .shape-2 {
      left: -18px;
      bottom: 155px;
      // transform: rotate(-3deg);
    }
  }
  .banner-object {
    right: -25px;
    top: -75px;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
