/*=============================
	B. Button CSS Start
===============================*/

// Theme btn css
.theme-btn {
    padding: 14px 50px;
    border-radius: 999px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    transition: var(--transition);
    .btn-arrow,i {
      margin-left: 10px;
      .btn-arrow-fill {
        fill: white;
        transition: var(--transition);
      } 
    }
  }
  
  .theme-btn-primary {
    background: var(--btn-color);
    border: 1px solid var(--primary);
    color: white;
    position: relative;
    z-index: 9;
    &::before{
      position:absolute;
      width: 100%;
      height: 100%;
      border-radius: 999px;
      top: 0;
      left: 0;
      content: "";
      transform: scale(0);
      background: var(--black);
      z-index: -1;
      transition: var(--transition);
    }
    &:hover{
      &::before{
        transform: scale(1);
      }
    }
  
  }
  .theme-btn-tertiary {
    background: var(--secondary);
    border: 1px solid transparent;
    color: var(--black);
    position: relative;
    z-index: 9;
    &::before{
      position:absolute;
      width: 100%;
      height: 100%;
      border-radius: 999px;
      top: 0;
      left: 0;
      content: "";
      transform: scale(0);
      background: var(--tertiary);
      z-index: -1;
      transition: var(--transition);
    }
    &:hover{
      color: white;
      border-color: var(--tertiary);
      &::before{
        transform: scale(1);
      }
    }
  
  }
  
  .theme-btn-border {
    background: transparent;
    border: 1px solid var(--primary);
    color: var(--black);
    position: relative;
    z-index: 9;
    &::before{
      position:absolute;
      width: 100%;
      height: 100%;
      border-radius: 999px;
      top: 0;
      left: 0;
      content: "";
      transform: scale(0);
      background: var(--primary);
      z-index: -1;
      transition: var(--transition);
    }
    .btn-arrow-fill {
      fill: var(--black) !important;
    }
    &:hover{
      color: white;
      .btn-arrow .btn-arrow-fill{
        fill: white !important;
      }
      &::before{
        transform: scale(1);
      }
    }
  }
  .theme-btn-secondary {
    background-color: var(--secondary);
    color: var(--black);
    border: none !important;
    &:hover {
      color: white;
    }
  }
  .theme-btn-white {
    background: white;
    color: var(--black);
    position: relative;
    z-index: 9;
    &::before {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 999px;
      top: 0;
      left: 0;
      content: "";
      transform: scale(0);
      background: var(--black);
      z-index: -1;
      transition: var(--transition);
    }
    &:hover {
      color: white;
      &::before {
        transform: scale(1);
      }
    }
  }