/*=============================
	05. Feature CSS start
===============================*/
.feature-section {
  padding: 0 20px;
  .feature-main-section {
    background: var(--black);
    border-radius: 15px;
  }
  .fact-part {
    padding-top: 16px;
    border-radius: 15px;
    background: #0e1016;
    .fact-content {
      padding-left: 60px;
      .fact-desc {
        margin-top: 20px;
      }
    }
    .fact-img {
      padding-right: 30px;
    }
  }
  .feature-cards {
    .feature-card {
      border-radius: 20px;
      padding: 40px 30px 40px 40px;
      h3 {
        color: rgba(2, 5, 10, 0.2);
        font-size: 36px;
        line-height: 36px; /* 100% */
      }
      h4 {
        color: #090d26;
        font-size: 28px;
        line-height: 28px; /* 100% */
        margin: 30px 0;
      }
      .card-desc {
        color: black;
        font-size: 20px;
        line-height: 29px; /* 145% */
      }
      &.primary {
        background: var(--primary);
      }
      &.secondary {
        background: var(--secondary);
      }
      &.tertiary {
        background: var(--tertiary);
      }
    }
  }
  .feature-part {
    margin-top: 120px;
    .feature-content {
      .section-title {
        margin-bottom: 20px;
      }
      .theme-btn {
        margin-top: 40px;
      }
    }
    .feature-counter {
      .counter-box {
        &.ml-n{
          margin-left: -24px !important;
        }
        text-align: center;
        padding: 62px 58px;
        border-radius: 15px;
        border: 1px solid var(--btn-color2);
        background: var(--rgba-black);
        .count {
          color: white;
          font-size: 54px;
          line-height: 59.4px; /* 110% */
          letter-spacing: -1.5px;
          margin-top: 30px;
          margin-bottom: 10px;
        }
        .counter-title {
          color: white;
          font-size: 22px;
          line-height: 27px; /* 122.727% */
        }
      }
    }
  }
}
