/*=============================
	C. Section Title CSS Start
===============================*/
.section-title {
  .sub-title {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.16em;
    text-transform: capitalize;
    color: var(--black2) !important;
    padding: 3px 14px;
    display: inline-block;
    margin-bottom: 15px;
    border-radius: 100px;
    border: 1px solid #000;
  }
  .title {
    color: var(--black2);
    font-size: 54px;
    line-height: 59.4px;
    letter-spacing: -1.5px;
    @media (max-width: 1199.98px) {
      font-size: 42px;
      line-height: 52px;
    }
    @media (max-width: 991.98px) {
      font-size: 36px;
      line-height: 50px;
    }
  }
}
