/*=============================
	08. Team CSS start
===============================*/

.team-section {
  .section-title {
    margin-bottom: 60px;
  }
  .team-members {
    padding: 0 15px;
    .team-card {
      border-radius: 15px;
      transition: var(--transition);
      &:hover {
        .img-part {
          .share-icon {
            background: var(--blue);
            i {
              color: white !important;
            }
          }
        }
        .social-icons {
          bottom: 43px;
          visibility: visible;
          opacity: 1;
        }
      }
      .img-part {
        width: 100%;
        padding: 7px 16px 0 16px;
        border-radius: 15px;
        background: rgba(63, 90, 243, 0.1);
        .share-icon {
          width: 45px;
          height: 45px;
          background: #f3f6f8;
          transition: var(--transition);
          z-index: 99;
          i {
            color: var(--black);
          }
        }
      }
      .details-part {
        margin-top: 42px;
        text-align: center;
        .name {
          color: var(--black);
          font-size: 24px;
          line-height: 34px; /* 141.667% */
          letter-spacing: -0.6px;
        }
        .designation {
          font-size: 16px;
          line-height: 24px;
        }
      }
      .social-icons {
        background: var(--blue);
        border-radius: 999px;
        padding: 15px 8px;
        transition: var(--transition);
        bottom: -200px;
        visibility: hidden;
        opacity: 0;
        ul {
          row-gap: 15px;
          li {
            a {
              text-align: center;
              color: white;
              font-size: 16px;
            }
          }
        }
      }
    }
  }
  .slogan {
    color: var(--special-heading);
    text-align: center;
    font-size: 54px;
    font-weight: 700;
    line-height: 59.4px; /* 110% */
    letter-spacing: -1.5px;
    margin-top: 36px;
    max-width: 1000px;
  }
}
// .social-icons {
//   gap: 10px;
//   a {
//     color: var(--black);
//     width: 35px;
//     height: 35px;
//     border: 1px solid var(--border-color);
//     display: grid;
//     place-content: center;
//     font-size: 14px;
//     transition: var(--transition);
//     border-radius: 5px;
//     &:hover {
//       color: white !important;
//       background: var(--tertiary) !important;
//     }
//   }
// }

// team-section-two start
.team-section-two {
  .section-title {
    margin-bottom: 34px;
  }
  .team-desc {
    margin-bottom: 39px;
  }
  .all-team-card {
    .team-card {
      &:hover {
        .overlay {
          visibility: visible;
          opacity: 1;
          .social-icons {
            a {
              opacity: 1;
              transform: translateY(0);
            }
          }
        }
      }
      .img {
        border-radius: 20px;
      }
      .overlay {
        background: var(--linear-gradient);
        visibility: hidden;
        opacity: 0;
        transition: var(--transition);
        .member-info {
          bottom: 40px;
          .member-title {
            margin-bottom: 5px;
            font-size: 22px;
            line-height: 36px; /* 163.636% */
          }
          .member-position {
            font-family: var(--font-inter);
            font-size: 18px;
            font-weight: 400;
            line-height: 28px; /* 155.556% */
            letter-spacing: -0.36px;
          }
        }
        .social-icons {
          margin-top: 20px;
          a {
            opacity: 0;
            transform: translateY(15px);
            transition: var(--transition);
            background: white;
            &:first-child {
              transition-delay: 0.2s;
            }
            &:nth-child(2) {
              transition-delay: 0.3s;
            }
            &:nth-child(3) {
              transition-delay: 0.4s;
            }
            &:nth-child(4) {
              transition-delay: 0.5s;
            }
            &:hover {
              transition-delay: 0s !important;
              background: var(--secondary) !important;
              color: var(--black) !important;
            }
          }
        }
      }
    }
  }
}
