/*=============================
	13. Text Slider CSS start
===============================*/
.text-slider-section {
  .slider-main {
    border-top: 2px solid var(--tertiary);
    border-bottom: 2px solid var(--tertiary);
    padding: 30px 0;
    gap: 40px;

    .slider-item {
      white-space: nowrap;
      animation: scroll2 18s linear infinite;
      gap: 40px;

      .title {
        color: var(--black);
        font-size: 60px;
        font-weight: 300;
        line-height: 68px;
        letter-spacing: -1.48px;

        img {
          margin-right: 22px;
        }

        &:nth-child(even) {
          opacity: 0.7;
        }
      }
    }
    &:hover {
      .slider-item {
        animation-play-state: paused;
      }
    } 
  }
}
@keyframes scroll2 {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 2.6rem));
  }
}
